In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\vaish\anaconda3\envs\storygraph_env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\vaish\anaconda3\envs\storygraph_env\lib\site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vaish\anaconda3\envs\storygraph_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vaish\anaconda3\envs\storygraph_env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vaish\anaconda3\envs\storygraph_env\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\vaish\anaconda3\envs\storygraph_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
!where python

C:\Users\vaish\anaconda3\envs\storygraph_env\python.exe
C:\Users\vaish\anaconda3\python.exe
C:\Users\vaish\AppData\Local\Microsoft\WindowsApps\python.exe

In [4]:
import os
print(os.getcwd())

C:\Users\vaish

In [5]:
os.chdir("C:/Users/vaish/Desktop/Data analytics/Storygraph_Project")
print(os.getcwd())

C:\Users\vaish\Desktop\Data analytics\Storygraph_Project

In [6]:
df = pd.read_csv("storygraph.csv")

In [7]:
df.head()

,Title,Authors,Contributors,ISBN/UID,Format,Read Status,Date Added,Last Date Read,Dates Read,Read Count,...,Strong Character Development?,Loveable Characters?,Diverse Characters?,Flawed Characters?,Star Rating,Review,Content Warnings,Content Warning Description,Tags,Owned?
0,"Tomorrow, and Tomorrow, and Tomorrow",Gabrielle Zevin,NaN,9780735243354,digital,read,2024/10/30,2024/10/30,2024/09/20-2024/10/30,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
1,Dark Matter,Blake Crouch,NaN,NaN,digital,read,2023/05/13,2023/12/30,2023/12/30,1,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,No
2,Where the Crawdads Sing,Delia Owens,Cassandra Campbell (Narrator),9780525640370,audio,read,2023/12/06,2024/01/30,2024/01/30,1,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,No
3,The Shining,Stephen King,NaN,9780450040184,paperback,read,2023/11/12,2023/12/27,2023/12/27,1,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,No
4,Stillhouse Lake,Rachel Caine,NaN,B01MFGX5GI,digital,read,2017/11/07,2023/06/25,2023/06/25,1,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,No

In [8]:
print(df.shape)

(166, 23)

In [64]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Title                          166 non-null    object
 1   Authors                        166 non-null    object
 2   Contributors                   20 non-null     object
 3   ISBN/UID                       158 non-null    object
 4   Format                         166 non-null    object
 5   Read Status                    166 non-null    object
 6   Date Added                     166 non-null    object
 7   Last Date Read                 118 non-null    object
 8   Dates Read                     118 non-null    object
 9   Read Count                     166 non-null    int64
 10  Moods                          10 non-null     object
 11  Pace                           13 non-null     object
 12  Character- or Plot-Driven?     0 non-null      float64
 13  Strong Character Development?  0 non-null      float64
 14  Loveable Characters?           1 non-null      object
 15  Diverse Characters?            1 non-null      object
 16  Flawed Characters?             0 non-null      float64
 17  Star Rating                    129 non-null    float64
 18  Review                         14 non-null     object
 19  Content Warnings               0 non-null      float64
 20  Content Warning Description    0 non-null      float64
 21  Tags                           20 non-null     object
 22  Owned?                         166 non-null    object
dtypes: float64(6), int64(1), object(16)
memory usage: 30.0+ KB
None

In [65]:
# list of columns to drop

columns_to_drop = ["ISBN/UID", "Strong Character Development?", "Loveable Characters?", "Diverse Characters?", "Flawed Characters?", "Content Warnings", 
                   "Content Warning Description", "Moods", "Pace", "Character- or Plot-Driven?"]

# cleaned df

df_cleaned = df.drop(columns = columns_to_drop)

In [66]:
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           166 non-null    object
 1   Authors         166 non-null    object
 2   Contributors    20 non-null     object
 3   Format          166 non-null    object
 4   Read Status     166 non-null    object
 5   Date Added      166 non-null    object
 6   Last Date Read  118 non-null    object
 7   Dates Read      118 non-null    object
 8   Read Count      166 non-null    int64
 9   Star Rating     129 non-null    float64
 10  Review          14 non-null     object
 11  Tags            20 non-null     object
 12  Owned?          166 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 17.0+ KB
None

In [67]:
print(df_cleaned["Read Status"].unique())

['read' 'to-read' 'currently-reading' 'did-not-finish']

In [68]:
df_read = df_cleaned[df_cleaned["Read Status"] == "read"].copy() # Finished books
df_to_read = df_cleaned[df_cleaned["Read Status"] == "to-read"].copy() # Books on the wish-list
df_currently_reading = df_cleaned[df_cleaned["Read Status"] == "currently-reading"].copy() # In-progress books
df_dnf = df_cleaned[df_cleaned["Read Status"] == "did-not-finish"].copy() # Books you stopped reading

In [69]:
print(df_read.info())
print(df_to_read.info())
print(df_currently_reading.info())
print(df_dnf.info())

<class 'pandas.core.frame.DataFrame'>
Index: 131 entries, 0 to 165
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           131 non-null    object
 1   Authors         131 non-null    object
 2   Contributors    17 non-null     object
 3   Format          131 non-null    object
 4   Read Status     131 non-null    object
 5   Date Added      131 non-null    object
 6   Last Date Read  118 non-null    object
 7   Dates Read      118 non-null    object
 8   Read Count      131 non-null    int64
 9   Star Rating     129 non-null    float64
 10  Review          14 non-null     object
 11  Tags            20 non-null     object
 12  Owned?          131 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 14.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 6 to 160
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           31 non-null     object
 1   Authors         31 non-null     object
 2   Contributors    1 non-null      object
 3   Format          31 non-null     object
 4   Read Status     31 non-null     object
 5   Date Added      31 non-null     object
 6   Last Date Read  0 non-null      object
 7   Dates Read      0 non-null      object
 8   Read Count      31 non-null     int64
 9   Star Rating     0 non-null      float64
 10  Review          0 non-null      object
 11  Tags            0 non-null      object
 12  Owned?          31 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 3.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 28 to 53
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           3 non-null      object
 1   Authors         3 non-null      object
 2   Contributors    2 non-null      object
 3   Format          3 non-null      object
 4   Read Status     3 non-null      object
 5   Date Added      3 non-null      object
 6   Last Date Read  0 non-null      object
 7   Dates Read      0 non-null      object
 8   Read Count      3 non-null      int64
 9   Star Rating     0 non-null      float64
 10  Review          0 non-null      object
 11  Tags            0 non-null      object
 12  Owned?          3 non-null      object
dtypes: float64(1), int64(1), object(11)
memory usage: 336.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 48 to 48
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           1 non-null      object
 1   Authors         1 non-null      object
 2   Contributors    0 non-null      object
 3   Format          1 non-null      object
 4   Read Status     1 non-null      object
 5   Date Added      1 non-null      object
 6   Last Date Read  0 non-null      object
 7   Dates Read      0 non-null      object
 8   Read Count      1 non-null      int64
 9   Star Rating     0 non-null      float64
 10  Review          0 non-null      object
 11  Tags            0 non-null      object
 12  Owned?          1 non-null      object
dtypes: float64(1), int64(1), object(11)
memory usage: 112.0+ bytes
None

In [81]:
df_read["Star Rating"] = df_read["Star Rating"].fillna(0)

In [82]:
print(df_read["Star Rating"].isna().sum())

0

In [85]:
df_cleaned.loc[df_cleaned["Read Status"] == "read", "Star Rating"] = df_read["Star Rating"].values

In [86]:
print(df_cleaned["Star Rating"].isna().sum())

35

In [88]:
df_cleaned["Last Date Read"] = pd.to_datetime(df_cleaned["Last Date Read"], errors="coerce")

In [90]:
print(df_cleaned.dtypes)

Title                     object
Authors                   object
Contributors              object
Format                    object
Read Status               object
Date Added                object
Last Date Read    datetime64[ns]
Dates Read                object
Read Count                 int64
Star Rating              float64
Review                    object
Tags                      object
Owned?                    object
dtype: object

In [91]:
df_cleaned.to_csv("storygraph_cleaned.csv", index=False)

In [92]:
os.listdir()

['storygraph.csv', 'storygraph_cleaned.csv']